@model List<Shipping>
<a asp-controller="Shipping" asp-action="New" class="btn btn-primary mb-2">New</a>
<table class="table table-bordered">
	<tr>

		<th>ShippingID</th>
		<th>ShippingAddress</th>
		<th>Status</th>
		<th>OrderID</th>
		

		<th>Deletes</th>

	</tr>
	@foreach (var employee in Model)
	{
		<tr>
			<td>@employee.ShippingID</td>
			<td>@employee.ShippingAddress</td>
			<td>@employee.Status</td>
			<td>@employee.OrderID</td>
			@* class="btn btn-primary mb-2 *@
			<td><a asp-controller="Shipping" asp-action="Delete" asp-route-id="@employee.ShippingID"> <button type="button" class="btn btn-danger"> Delete</button></a></td>
		</tr>	@* class="btn btn-primary mb-2" *@
	}
</table>
